* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.item {
    flex: 1;
    margin: 10px;
    max-width: 200px;
}
.item img {
    width: 100%;
    height: auto;
}
.item p {
    margin-top: 10px;
}
    