* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header a {
    text-decoration: none;
    color: #2d2d2d;
    margin: 0 13px;
}

header .right-nav {
    display: flex;
    margin-left: auto;
}

.logo {
    margin-top: 150px;
}

.logo img {
    width: 120px;
    height: auto;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 50px;
    color: #d4a017;
    margin: 10px 0;
}

.search-bar {
    margin: 10px 0;
}

.search-bar input {
    padding: 10px;
    width: 450px;
    height: 35px;;
    font-size: 16px;
    border-radius: 20px;
    border-color: #2d2d2d8c;
    border-style: solid;
}

.buttons {
    margin: 15px 0;
}

.buttons button {
    padding: 10px 20px;
    margin: 0 1px;
    font-size: 14px;
    width:auto;
    height:35px;
    background-color:lightgray;
    border: none;
    color: black;
    cursor: pointer;
    border-radius:10px;
}

.buttons button:hover {
    background-color: #ffc400;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px 0;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-links a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
}
